form th,td {
    vertical-align: top;
}

form th {
    text-align: right;

}

table.form th {
    text-align: right;
}

.sectionheader {
    font-size: 200%;
}

.nav {
    color: white;
    vertical-align: middle;
    font-family: Arial;
}

.nav a:link {
    color: white;
    text-decoration: none;
}
.nav a:visited {
    color: white;
}
.nav a:hover {
    color: white;
}