form th,td {
    vertical-align: top;
}

form th {
    text-align: right;

}

table.form th {
    text-align: right;
}

.sectionheader {
    font-size: 200%;
}

.nav {
    color: white;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    background-color: #80904f;
    padding-left: 10px;
}

.nav a:link {
    color: white;
    text-decoration: none;
}
.nav a:visited {
    color: white;
}
.nav a:hover {
    color: white;
}

.errorlist {
    list-style-type: none;
    color: red;
    margin:0;
    padding:0;
}

table.results {
    border-collapse: collapse;
}


table.results td {
    background-color: #ddd;
    color:black;
    padding: 4px;
}

table.results tr {
    border-bottom: 1px solid white;
}

table.results th {
    background-color: #80904f;
    color:white;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

table.results td, th{
    padding-left: 10px;
    padding-right: 10px;
}