{% extends "base.html" %}
{% block title %}Seed Bank: Edit Seed {% endblock %}
{% block pagetitle %}Edit Seed{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'seedlibrary.views.seed_edit' id=seed.id %}">{% csrf_token %}
        <table>
        {{ form.as_table }}
            <tr><td colspan="2"><a href="{% url 'seedlibrary.views.seeds' %}">Cancel</a>
			<input type="submit" value="Update" /></td></tr>
        </table>
        </form>
    {% else %}
    {% endif %}
{% endblock %}
