{% extends "base.html" %}
{% block title %}Seed bank: {{ user.username}}'s Seeds{% endblock %}
{% block pagetitle %}{{ user.username}}'s Seeds{% endblock %}
{% block content %}
<p>
    <a href="{% url 'seedlibrary.views.seed_create' %}">List another seed</a>
    |
    <a href="{% url 'seedlibrary.views.seed_export' %}">Export my seeds</a>
</p>
    <h2>Active</h2>
<p>You have listed {{ seed_list.count }} seed{{ seed_list.count|pluralize }}.</p>
{% if seed_list %}
    {% with seed_list_for_table=seed_list full=False %}
    {% include 'inc-seed-table.html' %}
    {% endwith %}
{% endif %}
{% if seed_archive_list %}
    <h2>Archive</h2>
    {% with seed_list_for_table=seed_archive_list full=False %}
        {% include 'inc-seed-table.html' %}
    {% endwith %}
{% endif %}
{% endblock %}
