{% extends "base.html" %}
{% block title %}Seed Bank: Search{% endblock %}
{% block pagetitle %}Search{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <form  class="searchform" method="post" action="{% url 'seedlibrary.views_search.seed_search' %}">{% csrf_token %}
            <input type="text" name="q" value="{{ q }}"> <input type="submit" value="Search"><br/>
            <input type="checkbox" name="archive" {{ archived_checked }}>Include archived seeds
        </form>
        <br/>
        {% if seed_list %}
            {% with seed_list_for_table=seed_list full=True  %}
                {% include 'inc-seed-table.html' %}
            {% endwith %}
        {% else %}
            <p>No seeds matched your search.</p>
        {% endif %}

    {% endif %}
{%endblock%}
