<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta name="Description" content="Online Virtual Seed Bank for the Hilltowns of Western Massachusetts. Sign up to list your seeds, see what seeds are available or find information direct from growers and seed developers in our region." />
        <meta name="Keywords" content="seed, saving, saver, bank, library, archive, heirloom, variety, network, agriculture, permaculture, hilltown, massachusetts, cummington, worthingon, goshen, plainfield, peru, ashfield, windsor, chesterfield, williamsburg, hawley, savoy, cultivation, information, share, cultivar, yield, performance" />

        <title>{% block title %}Hilltown Seed Saving Network Virtual Seed Bank{% endblock %}</title>
        <link rel="shortcut icon" href="{% static "images/favicon.jpg" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">
    <body>
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr>
		<td height="20"></td>
		</tr>
		<tr>
            <td width="940" height="198" valign="top" align="center">
                <a href="/">
                    <img src={% static "images/header.jpg" %} align="center" alt="Hilltown Seed Saving Network Virtual Seed Bank" width="940" height="198" /></td>
            </a>

            </td>
        </tr>
        <tr>
            <td class="nav" width="940" height="27">
               
                {% if user.is_authenticated %}
				 <a href="{% url 'seednetwork.views.home' %}">Seed Bank</a>
                     <a href="{% url 'seednetwork.views_user.members' %}">Members</a>
                     <a href="{% url 'seednetwork.views_user.profile' %}">My profile</a>
                     <a href="{% url 'seedlibrary.views.seeds' %}">My seeds</a>
                     <a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>
                    {% if user.is_staff %}
                         <a href="/admin">Admin Panel</a> 
                    {% endif %}
				|
                {% endif %}
				 <a href="http://hilltownseeds.wordpress.com/">Back to HSSN Site</a>
            </td>
			
        </tr>
        <tr>
            <td height="43" valign="top"><div align="center"> &nbsp;
                <h2><span class="pagetitle">{% block pagetitle%}{% endblock %}</span></h2>
            </div></td>
        </tr>
        <tr>
            <td height="312" valign="top">
			<table width="100%" border="0" cellpadding="30" cellspacing="0">
                <tr>
                    <td width="980" height="312" valign="top">
                    {% block content %}
                    {% endblock %}
                    </td>
                </tr>
            </table>
            </td>
        </tr>
        <tr>
            <td height="16" valign="top"><span class="footer">Hilltown Seed Saving Network, for the Hilltowns of Western Massachusetts &bull; <a href="mailto:&lt;hilltownseedsavingnetwork@gmail.com&gt;">hilltownseedsavingnetwork@gmail.com</a> &bull; <a href="mailto:&lt;rose@threesalamanders.com&gt;">Email Webmaster </a></span></td>
        </tr>
    </table>
    </body>
    </html>
