{% extends "base.html" %}
{% block pagetitle %}
      
	 Welcome to the Hilltown Virtual Seed Bank
	   
    {% if user.is_authenticated %}
       
    {% else %}
    
    {% endif %}
{% endblock %}
{% block content %}


	  
    {% if user.is_authenticated %}
        <h3><a href="{% url 'seedlibrary.views.seed_create' %}">Add a new seed</a> or 
         <a href="javascript:document.forms.search.q.value='';document.forms.search.submit()">Browse all seeds</a> or 
		 Search for seeds, towns, or members below:
        <p><form id="search" class="searchform" method="post" action="{% url 'seedlibrary.views_search.seed_search' %}">{% csrf_token %}
            <input id="q" type="text" name="q"> <input type="submit" value="Search">
        </form></p>
    {% else %}
	
	<p>
	  The Hilltown Seed Saving Network is a group of people in the Hilltowns of Western Massachusetts interested in saving seeds. 
	  We are working to educate ourselves and our neighbors about seed saving. Our virtual seed bank 
	  is for sharing information about what seeds we have in our own collections and how best to grow them in this region.
We are from Cummington, Chesterfield, Plainfield, Worthington, Windsor, Goshen, Ashfield and surrounding towns in the region and 
meet monthly in Cummington. More information about our group can be found at <a href="http://hilltownseeds.wordpress.com/"> http://hilltownseeds.wordpress.com/</a>. Please join us.
	  </p>
	  
	<h2>  Login or Register to use the Virtual Seed Bank. </h2>
        <table>
        <tr>
        <td width="298" height="714" valign="top">

            <span class="sectionheader">Member Login:</span>
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            <table>{% csrf_token %}
                {{ login_form.as_table }}
                <tr><td colspan="2" style="text-align: right"><input type="submit" value="Sign in"></td></tr>
            </table>
                <input type="hidden" name="next" value="{% url 'seednetwork.views.home' %}" />
            </form>
            <a href="{% url 'django.contrib.auth.views.password_reset' %}">I forgot my password</a>

        </td>
        <td width="1">&nbsp;</td>
        <td width="650" valign="top">

        <span class="sectionheader">New member registration:</span>
        <form method="post" action="{% url 'seednetwork.views_user.new_user' %}">
        <table>{% csrf_token %}
            {{ create_user_form.as_table }}
            {{ member_info_form.as_table }}
            <tr><td colspan="2" style="text-align: right"><input type="submit" value="Register"></td></tr>
        </table>
        </form>

    </td>
    </tr>
        </table>
    {% endif %}
{% endblock %}