{% extends "base.html" %}
{% block title %}Seed bank: Members{% endblock %}
{% block pagetitle %}Seed bank members{% endblock %}
{% block content %}
    {% if memberinfo_list %}
        <table class="results">
            <tr>
                <th>Username</th>
				<th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Town</th>
				<th>Street Address</th>
				<th>Mailing Address</th>
				<th>About Me</th>
            </tr>
            {% for mi in memberinfo_list %}
                <tr>
                   <td>
                       {% ifequal mi.user user %}
                       <a href="{% url 'seednetwork.views_user.profile'%}">{{ mi.user.username }}</a>
                       {% else %}
                       {% if mi.include_in_member_profiles %}
                           <a href="{% url 'seednetwork.views_user.member' mid=mi.id %}">{{ mi.user.username }}</a>
                       {% else %}
                           {{ mi.user.username }}
                       {% endif %}
                       {% endifequal %}
                   </td>
                   {% if mi.include_in_member_profiles %}
                        <td>{{ mi.user.first_name }} {{ mi.user.last_name }} </td>
						
                        <td>{% if mi.email_is_public %}
                                <a href="mailto:{{ mi.user.email }}">{{ mi.user.email }}</a>
                            {% else %}
                                <em>(private)</em>
                            {% endif %}
                        </td>
                        <td>{% if mi.phone_is_public %}
                                {{ mi.phone }}
                            {% else %}
                                <em>(private)</em>
                            {% endif %}
                        </td>
						
						<td>{{ mi.town }}</td>
						
						 <td>{% if mi.street_address_is_public %}
                                {{ mi.street_address }}
                            {% else %}
                                <em>(private)</em>
                            {% endif %}
                        </td>
						
						 <td>{% if mi.mailing_address_is_public %}
                                {{ mi.mailing_address }}
                            {% else %}
                                <em>(private)</em>
                            {% endif %}
                        </td>
						
						<td>{{ mi.about_me }}</td>
                   {% else %}
                        <td colspan="7" style="text-align: center;"><em>(private)</em></td>
                   {% endif %}

                </tr>
            {% endfor %}
        </table>
    {% else %}

    {% endif %}
{% endblock %}