{% extends "base.html" %}
{% block title %}Seed network: register as a new member{% endblock %}
{% block pagetitle %}Register as a new member{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <p>You are already logged in.</p>
    {% else %}
        <form method="post" action="{% url 'seednetwork.views_user.new_user' %}">
            <table>{% csrf_token %}
                {{ uiform.as_table }}
                {{ miform.as_table }}
            </table>
            <a href="{% url 'seednetwork.views.home' %}">Cancel</a> | <input type="submit" value="Register">
        </form>
    {% endif %}
{% endblock %}
