{% extends "base.html" %}
{% block title %}Seed network: reset password{% endblock %}
{% block content %}
<p>Use this form to reset your password.  A new password will be sent to the provided e-mail address.</p>

<form method='post' action='{% url 'django.contrib.auth.views.password_reset' %}'>{% csrf_token %}
    <table>
        {% if error %}
            <tr class="error"><td colspan="2">{{error}}</td></tr>
        {%endif%}

        {{ form.as_table }}
        <tr><td colspan="2"><input type="submit" value="Reset" /></td></tr>
    </table>
</form>
{% endblock %}
