body {
    background-color: #f5f5e7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80%;
}
a:link {
    color: #e58712;
}
a:visited {
    color: #CC3333;
}
a:hover {
    color: #0000FF;
}
.pagetitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    //color: #80904f;
	color: black
}
.footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
}

p {
    margin-top: 0px;
    margin-bottom: 1em;
}

form th,td {
    vertical-align: top;
}

form th {
    text-align: right;
}

table.form th {
    text-align: right;
}

form table tr > td {
    padding-bottom: 20px;
}

form table td ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.sectionheader {
    font-size: 200%;
}

.nav {
    color: white;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    background-color: black;
    padding-left: 10px;
	padding-top: 10px;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	font-size: 11pt;
}

.nav a:link, .nav a:visited {
    color: #A6A6A6;
    text-decoration: none;
	text-align: middle;
	padding: 10px 10px;
	margin-right: 2px;
}

.nav a:hover {
    color: white;
	background-color: #333;
}

.errorlist {
    list-style-type: none;
    color: red;
    margin:0;
    padding:0;
}

table.results {
    border-collapse: collapse;
}


table.results td {
    background-color: #ddd;
    color:black;
    padding: 4px;
}

table.results tr {
    border-bottom: 1px solid white;
}

table.results th {
    background-color: #80904f;
	//background-color: black;
    color:white;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

table.results td, th{
    padding-left: 10px;
    padding-right: 10px;
}

.searchform input[type=text] {
    width: 200px;
    font-size: 120%;
}


.searchform input[type=submit] {
    font-size: 120%;
}
